<h2>Our Stars</h2>

<div class="row">
  <div class="col-sm-5">
    <div class="form-group">
      <label>Sort by Animal Age:</label>
      <select (change)="onChangeAge($event.target.value)" class="form-control">
        <option value="allAnimals" selected="selected">All Animals</option>
        <option value="old">Old Animals</option>
        <option value="young">Young Animals</option>
      </select>
    </div>
  </div>
</div>

<div *ngFor="let animal of animalList | ageGroup:filterByAgeGroup" class="mb-5">
  <h5 class="text-primary">Name: {{animal.name}}</h5>
  <p>Species: {{animal.species}}</p>
  <p>Age: {{animal.age}}</p>
  <p>Diet: {{animal.diet}}</p>
  <p>Location: {{animal.location}}</p>
  <p>Caretakers: {{animal.caretakers}}</p>
  <p>Sex: {{animal.sex}}</p>
  <p>Likes: {{animal.likes}}</p>
  <p>Dislikes: {{animal.dislikes}}</p>
  <button class="btn btn-primary" (click)="editAnimal(animal)">Edit</button>
</div>
