<div class="row display-caption">
  <div class="col-sm-8 offset-sm-2">
    <p>Animal Database</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-3 offset-sm-9">
    <div class="form-group">
      <label>Sort by Age Group:</label>
      <select (change)="onChangeAge($event.target.value)" class="form-control">
        <option value="allAnimals" selected="selected">All Animals</option>
        <option value="old">Old Animals</option>
        <option value="young">Young Animals</option>
      </select>
    </div>
  </div>
</div>

<div class="row display-animal">
  <div *ngFor="let animal of animalList | ageGroup:filterByAgeGroup" class="col-sm-4 each-card">
    <div class="card">
      <div class="card-block bg-inverse text-white">
        <h4 class="card-title text-center">{{animal.name}}
          <a role="button" (click)="editAnimal(animal)" >
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </a>
        </h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><span>Species: </span> {{animal.species}}</li>
        <li class="list-group-item"><span>Age:</span> {{animal.age}}</li>
        <li class="list-group-item"><span>Diet:</span> {{animal.diet}}</li>
        <li class="list-group-item"><span>Location:</span> {{animal.location}}</li>
        <li class="list-group-item"><span>Sex:</span> {{animal.sex}}</li>
        <li class="list-group-item"><span>Likes:</span> {{animal.likes}}</li>
        <li class="list-group-item"><span>Dislikes:</span> {{animal.dislikes}}</li>
      </ul>
    </div>
  </div>
</div>
