<div class="row">
  <div class="col-sm-4">
    <div *ngIf="selectedAnimal">
      <h4>Update Animal Info: </h4>
      <div class="form-group">
        <label>Name: </label>
        <input [(ngModel)]="selectedAnimal.name" class="form-control">
      </div>
      <div class="form-group">
        <label>Age: </label>
        <input [(ngModel)]="selectedAnimal.age" class="form-control">
      </div>
      <div class="form-group">
        <label>Caretakers: </label>
        <input [(ngModel)]="selectedAnimal.caretakers" class="form-control">
      </div>
      <button class="btn btn-outline-secondary" (click)="finishedEditing()">Update</button>
    </div>
  </div>
</div>
