<div id="cover">
  <div id="cover-caption">
    <h1>Animal Tracker</h1>
  </div>
</div>
<div class="container">

  <!-- Add New Animal -->
  <app-new-animal
  (newAnimalSender)="addAnimal($event)">
  </app-new-animal>

  <!-- Display Animal Detail -->
  <app-animal-detail
    [animalList]="animalList"
    (editAnimalSender)="editAnimal($event)">
  </app-animal-detail>

  <!-- Edit Animal Info-->
  <app-edit-animal
  [selectedAnimal]="selectedAnimal" (finishedEditingSender)="finishedEditing()">
  </app-edit-animal>

</div>
