#cover {
  background: url('../assets/images/cover.jpg') no-repeat center bottom;
  height: 25rem;
  background-size: cover;
  display: flex;
  align-items: center;
  #cover-caption {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 60rem;
    background-color: rgba(0,0,0, 0.5);
    padding: 3rem 15rem;
    h1 {
      color: white;
      text-transform: uppercase;
    }
  }
}
